.board {
  top: 200px;
  margin: auto;
  height: 300px;
  width: 300px;
  position: relative;
}

#one {
  position: relative;
  display: inline;
  float: left;
  height: 90px;
  width: 90px;
  border-right: 5px solid black;
  border-bottom: 5px solid black;

}

#two {
  float: left;
  position: relative;
  display: inline;
  height: 90px;
  width: 90px;
  border-bottom: 5px solid black;
}

#three {
  float: left;
  position: relative;
  display: inline;
  height: 90px;
  width: 90px;
  border-left: 5px solid black;
  border-bottom: 5px solid black;
}

#four {
  float: left;
  position: relative;
  display: inline;
  height: 90px;
  width: 90px;
  border-right: 5px solid black;
  border-bottom: 5px solid black;
}

#five {
  float: left;
  position: relative;
  display: inline;
  height: 90px;
  width: 90px;
  border-bottom: 5px solid black;
}

#six {
  float: left;
  position: relative;
  display: inline;
  height: 90px;
  width: 90px;
  border-left: 5px solid black;
  border-bottom: 5px solid black;
}

#seven {
  float: left;
  position: relative;
  display: inline;
  height: 90px;
  width: 90px;
  border-right: 5px solid black;
}

#eight {
  float: left;
  position: relative;
  display: inline;
  height: 90px;
  width: 90px;
  }

#nine {
  float: left;
  position: relative;
  display: inline;
  height: 90px;
  width: 90px;
  border-left: 5px solid black;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}
