* {
  box-sizing: border-box;
}

.tile{
    position: relative;
    display: inline;
    float: left;
    background-size: 100%;
    height: 33.3333333%;
    width:  33.3333333%;
}

.board {
  top: 200px;
  margin: auto;
  height: 300px;
  width: 300px;
  position: relative;
  overflow: auto;
}

.right-bottom {
  border-right: 5px solid black;
  border-bottom: 5px solid black;
}

.bottom {
  border-bottom: 5px solid black;
}

.right {
  border-right: 5px solid black;
}

.red {
  background-image: url("https://scontent-yyz1-1.xx.fbcdn.net/v/t34.0-12/14080908_10105891755501590_801887569_n.png?oh=280a383326db67f5be710dda81b5cfc0&oe=5838EE0A");
}

.blue {
  background-image: url("https://scontent-yyz1-1.xx.fbcdn.net/v/t34.0-12/14642958_10206935580102468_40267282_n.jpg?oh=8c40b90113b75da0b4d2aeb17eda6c11&oe=5838FFDD");
}
